$default-color: #272829;
$accent-color: #0563bb;
$color_4: #fff;
$heading-color: #45505b;
$color_6: #728394;
$color_7: #011426;
$color_8: #148af9;
$color_9: #47aeff;
$color_10: #ffa76e;
$color_11: #e80368;
$color_12: #ffbb2c;
$color_13: #ff5828;
$color_14: #11dbcf;
$color_15: #111;
$color_16: #999;
$color_17: #90c8fc;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$background-color_2: #fff;
$border-color_1: #fff;
$border-top-color_1: #fff;
$border-top-color_2: #eee;
$border-bottom-color_1: #fff;

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: auto !important;
	}
}
body {
	font-family: $font-family_1;
	color: $default-color;
}
a {
	color: $accent-color;
	text-decoration: none;
	&:hover {
		color: color-mix(in srgb, $accent-color, transparent 25%);
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
}
h3 {
	font-family: $font-family_2;
}
h4 {
	font-family: $font-family_2;
}
h5 {
	font-family: $font-family_2;
}
h6 {
	font-family: $font-family_2;
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: $accent-color;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 28px;
		color: $color_4;
		line-height: 0;
	}
	&:hover {
		background: #0678e3;
		color: $color_4;
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	&:before {
		content: "";
		position: fixed;
		top: calc(50% - 30px);
		left: calc(50% - 30px);
		border: 6px solid $accent-color;
		border-top-color: $border-top-color_1;
		border-bottom-color: $border-bottom-color_1;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: animate-preloader 1s linear infinite;
	}
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 9997;
	transition: all 0.5s;
	padding: 15px;
	overflow-y: auto;
}
.nav-menu {
	padding: 0;
	display: block;
	* {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	>ul {
		>li {
			position: relative;
			white-space: nowrap;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: $heading-color;
		padding: 10px 18px;
		margin-bottom: 8px;
		transition: 0.3s;
		font-size: 15px;
		border-radius: 50px;
		background: #f2f3f5;
		height: 56px;
		width: 100%;
		overflow: hidden;
		&:focus {
			display: flex;
			align-items: center;
			color: $heading-color;
			padding: 10px 18px;
			margin-bottom: 8px;
			transition: 0.3s;
			font-size: 15px;
			border-radius: 50px;
			background: #f2f3f5;
			height: 56px;
			width: 100%;
			overflow: hidden;
			i {
				font-size: 20px;
			}
			span {
				padding: 0 5px 0 7px;
				color: $heading-color;
			}
		}
		i {
			font-size: 20px;
		}
		span {
			padding: 0 5px 0 7px;
			color: $heading-color;
		}
		&:hover {
			color: $color_4;
			background: $accent-color;
			width: 100%;
			span {
				color: $color_4;
				display: block;
			}
		}
	}
	.active {
		color: $color_4;
		background: $accent-color;
		&:focus {
			color: $color_4;
			background: $accent-color;
			span {
				color: $color_4;
			}
		}
		span {
			color: $color_4;
		}
	}
	li {
		&:hover {
			>a {
				color: $color_4;
				background: $accent-color;
				width: 100%;
				span {
					color: $color_4;
					display: block;
				}
			}
		}
	}
}
.mobile-nav-toggle {
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 28px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 0;
	cursor: pointer;
	border-radius: 50px;
	padding: 5px;
	i {
		color: $heading-color;
	}
}
.mobile-nav-active {
	overflow: hidden;
	#header {
		left: 0;
	}
	.mobile-nav-toggle {
		color: $color_4;
		background-color: $accent-color;
	}
}
#hero {
	width: 100%;
	height: 100vh;
	background: url("../img/hero-bg.jpg") top right no-repeat;
	background-size: cover;
	position: relative;
	&:before {
		content: "";
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}
	h1 {
		margin: 0;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		color: $heading-color;
	}
	p {
		color: $heading-color;
		margin: 15px 0 0 0;
		font-size: 26px;
		font-family: $font-family_3;
		span {
			color: $accent-color;
			letter-spacing: 1px;
		}
	}
	.social-links {
		margin-top: 30px;
		a {
			font-size: 24px;
			display: inline-block;
			color: $heading-color;
			line-height: 1;
			margin-right: 20px;
			transition: 0.3s;
			&:hover {
				color: $accent-color;
			}
		}
	}
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-title {
	text-align: center;
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;
		color: $heading-color;
		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: #ddd;
			bottom: 1px;
			left: calc(50% - 60px);
		}
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: $accent-color;
			bottom: 0;
			left: calc(50% - 20px);
		}
	}
	p {
		margin-bottom: 0;
	}
}






.testimonials {
	.section-header {
		margin-bottom: 40px;
	}
	.testimonials-carousel {
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
	}
	.testimonial-item {
		text-align: center;
		.testimonial-img {
			width: 120px;
			border-radius: 50%;
			border: 4px solid #fff;
			margin: 0 auto;
		}
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_15;
		}
		h4 {
			font-size: 14px;
			color: $color_16;
			margin: 0 0 15px 0;
		}
		.quote-icon-left {
			color: $color_17;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_17;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 auto 15px auto;
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_2;
			opacity: 1;
			border: 1px solid $accent-color;
		}
		.swiper-pagination-bullet-active {
			background-color: $accent-color;
		}
	}
}
.contact {
	.info {
		width: 100%;
		background: #fff;
		i {
			font-size: 20px;
			color: $accent-color;
			float: left;
			width: 44px;
			height: 44px;
			background: #eef7ff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: $heading-color;
		}
		p {
			padding: 0 0 0 60px;
			margin-bottom: 0;
			font-size: 14px;
			color: $color_6;
		}
		.email {
			margin-top: 40px;
			&:hover {
				i {
					background: $accent-color;
					color: $color_4;
				}
			}
		}
		.phone {
			margin-top: 40px;
			&:hover {
				i {
					background: $accent-color;
					color: $color_4;
				}
			}
		}
		.address {
			&:hover {
				i {
					background: $accent-color;
					color: $color_4;
				}
			}
		}
	}
	.php-email-form {
		width: 100%;
		background: #fff;
		.form-group {
			padding-bottom: 8px;
		}
		.error-message {
			display: none;
			color: $color_4;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br {
				+ {
					br {
						margin-top: 25px;
					}
				}
			}
		}
		.sent-message {
			display: none;
			color: $color_4;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_2;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 4px;
			box-shadow: none;
			font-size: 14px;
		}
		textarea {
			border-radius: 4px;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 12px;
		}
		input[type="text"] {
			height: 44px;
		}
		input[type="email"] {
			height: 44px;
		}
		button[type="submit"] {
			background: $accent-color;
			border: 0;
			padding: 10px 35px;
			color: $color_4;
			transition: 0.4s;
			border-radius: 50px;
			&:hover {
				background: #0678e3;
			}
		}
	}
}
#footer {
	background: #f7f8f9;
	color: $heading-color;
	font-size: 14px;
	text-align: center;
	padding: 30px 0;
	h3 {
		font-size: 36px;
		font-weight: 700;
		position: relative;
		font-family: $font-family_3;
		padding: 0;
		margin: 0 0 15px 0;
	}
	p {
		font-size: 15;
		font-style: italic;
		padding: 0;
		margin: 0 0 40px 0;
	}
	.social-links {
		margin: 0 0 40px 0;
		a {
			font-size: 18px;
			display: inline-block;
			background: $accent-color;
			color: $color_4;
			line-height: 1;
			padding: 8px 0;
			margin-right: 4px;
			border-radius: 50%;
			text-align: center;
			width: 36px;
			height: 36px;
			transition: 0.3s;
			&:hover {
				background: #0678e3;
				color: $color_4;
				text-decoration: none;
			}
		}
	}
	.copyright {
		margin: 0 0 5px 0;
	}
	.credits {
		font-size: 13px;
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 991px) {
	#header {
		width: 300px;
		background: #fff;
		border-right: 1px solid #e6e9ec;
		left: -300px;
	}
}
@media (min-width: 991px) {
	#main {
		margin-left: 100px;
	}
}
@media (min-width: 992px) {
	.nav-menu {
		a {
			width: 56px;
			&:focus {
				width: 56px;
				span {
					display: none;
					color: $color_4;
				}
			}
			span {
				display: none;
				color: $color_4;
			}
		}
	}
	#hero {
		padding-left: 160px;
	}
	.testimonials {
		.testimonial-item {
			p {
				width: 80%;
			}
		}
	}
}
@media (max-width: 992px) {
	#hero {
		text-align: center;
		h1 {
			font-size: 32px;
			line-height: 36px;
		}
		p {
			margin-top: 10px;
			font-size: 20px;
			line-height: 24px;
		}
	}
}
