<header id="header" class="d-flex flex-column justify-content-center">
  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li *ngFor="let section of sections">
        <a
          [attr.data-testid]="'a_' + section.target"
          role="none"
          (click)="scrollTo(section.target)"
          [class.active]="activeSectionId === section.target"
          class="nav-link"
        >
          <i class="bx" [ngClass]="section.icon"></i> <span>{{ section.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
