<section id="testimonials" class="testimonials section-bg">
  <div class="container" *ngIf="profile$ | async as profile">
    <ng-container *ngIf="profile.testimonials as testimonials">
      <div class="section-title">
        <h2>Testimonials</h2>
      </div>
      <owl-carousel-o [options]="customOptions">
        @for (testimonal of testimonials; track $index) {
          <ng-template carouselSlide>
            <div class="testimonial-item">
              <img
                [attr.data-testid]="'image-src_' + $index"
                src="{{ testimonal.photoUrl }}"
                class="testimonial-img"
                alt="{{ testimonal.name }}"
              />
              <h3 [attr.data-testid]="'name_' + $index">{{ testimonal.name }}</h3>
              <h4 [attr.data-testid]="'jobTitle_' + $index">{{ testimonal.jobTitle }}</h4>
              <blockquote>
                <p [attr.data-testid]="'testimonial_' + $index">{{ testimonal.testimonial }}</p>
              </blockquote>
            </div>
          </ng-template>
        }
      </owl-carousel-o>
    </ng-container>
  </div>
</section>
