<section id="resume" class="resume">
  <div class="container" data-aos="fade-up" *ngIf="profile$ | async as profile">
    <ng-container *ngIf="profile.resume as resume">
      <div class="section-title">
        <h2>{{resume.titles.resume}}</h2>
        <p>{{resume.titles.profil}}
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">{{resume.titles.summary}}</h3>
          <div class="resume-item pb-0">
            <h4>{{resume.sumary.name}}</h4>
            <p>
              <em>{{resume.sumary.summary}}</em>
            </p>
            <div *ngFor="let resume of resume.sumary.contact">
              <ul>
                <li>{{resume.location}}</li>
                <li>{{resume.phoneNumber}}</li>
                <li>{{resume.aliceBarkle}}</li>
              </ul>
            </div>
          </div>

          <h3 class="resume-title">{{resume.titles.education}}</h3>
          <div class="resume-item" *ngFor="let resume of resume.education.detail">
            <h4>{{resume.experience}}</h4>
            <h5>{{resume.startdate}}</h5>
            <p><em>{{resume.Academy}}</em></p>
            <p>
              {{resume.description}}
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">{{resume.titles.workExperience}}</h3>
          <div class="resume-item" *ngFor="let resume of resume.workExperience.experienceposition">
            <h4>{{resume.position}}</h4>
            <h5>{{resume.startdate}}</h5>
            <p><em>{{resume.location}}</em></p>
            <ul>
              <li>
                {{resume.communicationDesignLeadership}}
              </li>
              <li>
                {{resume.teamLeadership}}
              </li>
              <li>
                {{resume.designQualityAssurance}}
              </li>
              <li>
                {{resume.expertiseArea}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>