@let personalData = profile$()?.personalData;
<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>{{ personalData?.name }}</h1>
    <p>I'm {{ currentProfession$() }}<span class="blink">|</span></p>
    <div class="social-links">
      @for (network of personalData?.socialNetworks; track $index) {
        <a href="{{ network.url }}" [ngClass]="network.type.name"
          ><i [ngClass]="['bxl', network.type.icon]"></i
        ></a>
      }
    </div>
  </div>
</section>
