@let profile = profile$();
<section id="facts" class="facts">
  @if (profile) {
    <div class="container" data-aos="fade-up">
      @if (profile.facts; as facts) {
        <div class="section-title">
          <h2 i18n="@@Facts">Facts</h2>
          <p>{{ facts.description }}</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="232"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>{{ facts.happyClients }}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="521"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>{{ facts.projects }}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="1463"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>{{ facts.hoursOfSupport }}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-award"></i>
              <span
                data-purecounter-start="0"
                data-purecounter-end="25"
                data-purecounter-duration="1"
                class="purecounter"
              ></span>
              <p>{{ facts.Awards }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  }
</section>
