@let portfolio = portfolioSet();

<section appId="portfolio" id="portfolio" class="portfolio section-bg">
  @if (portfolio) {
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n="@@portfolio">Portfolio</h2>
      </div>
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div>
            <ul appId="all" id="portfolio-flters">
              <li i18n="@@all" appId="all" data-filter="*" class="filter-active">All</li>
              @for (pageType of portfolio.pagesByType; track pageType) {
                <li [appId]="'filter_' + pageType" [attr.data-filter]="'.filter-' + pageType">
                  {{ pageType }}
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        @for (page of portfolio.sortedPages; track page) {
          @let dataIndex = ($index + 1).toString().padStart(2, '0');
          <div class="col-lg-4 col-md-6 portfolio-item" [ngClass]="'filter-' + page.type">
            <div class="portfolio-wrap">
              <img
                [appId]="'image-src_' + dataIndex"
                [src]="page.image"
                class="img-fluid"
                alt=""
              />
              <div class="portfolio-info">
                <h4 [appId]="'title_' + dataIndex">{{ page.title }}</h4>
                <p [appId]="'type_' + dataIndex">{{ page.type }}</p>
                <p [appId]="'description_' + dataIndex">{{ page.description }}</p>
                <div class="portfolio-links">
                  @if (page.image) {
                    <a
                      [appId]="'image_' + dataIndex"
                      [href]="page.image"
                      class="glightbox glightbox-image"
                      [attr.data-gallery]="'image_' + dataIndex"
                      ><i class="bx bx-plus"></i
                    ></a>
                  }
                  @if (page.video) {
                    <a
                      [appId]="'video_' + dataIndex"
                      [href]="page.video"
                      class="glightbox glightbox-image"
                      [attr.data-gallery]="'image_' + dataIndex"
                      ><i class="bx bx-video"></i
                    ></a>
                  }
                  @if (page.link) {
                    <a
                      [appId]="'link_' + dataIndex"
                      [href]="page.link"
                      class="glightbox glightbox-web"
                      data-glightbox="type: external"
                      [attr.data-gallery]="'web_' + dataIndex"
                      title="Portfolio Details"
                      ><i class="bx bx-link"></i
                    ></a>
                  }
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  }
</section>
