<section id="services" class="services">
  <div class="container" data-aos="fade-up" *ngIf="profile$ | async as profile">
    <ng-container *ngIf="profile.service as Service">
      <div class="section-title">
        <h2 data-testid="text">{{Service.title}}</h2>
        <p data-testid="overview">{{Service.overview}}</p>
      </div>

      <div class="row">
        <div class="fase col-lg-10 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div *ngFor="let serviceDetails of Service.serviceDetails; index as index">
            <ng-container *ngIf="(index + 1).toString().padStart(2, '0') as dataIndex">
              <div class="icon-box h-100">
                <div class="img-fluid">
                  <img [attr.data-testid]="'backgroundUrl_' + dataIndex" src="{{ serviceDetails.backgroundUrl }}" alt="" />
                </div>
                <h4 [attr.data-testid]="'name_' + dataIndex"><a href="">{{serviceDetails.name}}</a></h4>
                <p [attr.data-testid]="'description_' + dataIndex">{{serviceDetails.description}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>