@let summary = summarySet();

<section appId="summary" id="summary" class="resume">
  @if (summary) {
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n="@@resume">Resume</h2>
        <p appId="about">{{ summary.about }}</p>
      </div>
      <div class="row">
        <div class="col-6">
          <h3 i18n="@@summary" class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4 appId="name">{{ summary.name }}</h4>
            <p>
              <em appId="introduction">{{ summary.introduction }}</em>
            </p>
            @if (summary.contactProfile; as contact) {
              <ul>
                <li appId="direction">{{ contact.direction }}</li>
                <li appId="email">{{ contact.email }}</li>
                <li appId="phoneNumber">{{ contact.phoneNumber }}</li>
              </ul>
            }
          </div>
          @if (summary.education; as education) {
            <h3 i18n="@@education" class="resume-title">Education</h3>
            @for (edu of education.academicBackground; track edu.experience) {
              @let dataIndex = ($index + 1).toString().padStart(2, '0');
              <div class="resume-item">
                <h4 [appId]="'experience_' + dataIndex">{{ edu.experience }}</h4>
                <h5 [appId]="'startDate-date' + dataIndex">{{ edu.startDate }}</h5>
                <p [appId]="'academy-formation' + dataIndex">
                  <em>{{ edu.Academy }}</em>
                </p>
                <p [appId]="'description_' + dataIndex">{{ edu.description }}</p>
              </div>
            }
          }
        </div>
        <div class="col-6">
          @if (summary.workExperience; as workExperience) {
            <h3 i18n="@@workExperience" class="resume-title">Work Experience</h3>
            @for (work of workExperience.position; track work.specialist) {
              @let dataIndex = ($index + 1).toString().padStart(2, '0');
              <div class="resume-item">
                <h4 [appId]="'specialist_' + dataIndex">
                  {{ work.specialist }}
                </h4>
                <h5 [appId]="'startDate_' + dataIndex">{{ work.startdate }}</h5>
                <p [appId]="'location_' + dataIndex">
                  <em>{{ work.location }}</em>
                </p>
                <ul>
                  <li [appId]="'communicationDesignLeadership_' + dataIndex">
                    {{ work.communicationDesignLeadership }}
                  </li>
                  <li [appId]="'teamLeadership_' + dataIndex">
                    {{ work.teamLeadership }}
                  </li>
                  <li [appId]="'designQualityAssurance_' + dataIndex">
                    {{ work.designQualityAssurance }}
                  </li>
                  <li [appId]="'expertiseArea_' + dataIndex">{{ work.expertiseArea }}</li>
                </ul>
              </div>
            }
          }
        </div>
      </div>
    </div>
  }
</section>
