@let skills = skillSet();
<section data-testid="skills" id="skills" class="skills section-bg">
  @if (skills) {
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n="@@skills">Skills</h2>
        <p data-testid="skill_overview">{{ skills.overview }}</p>
      </div>

      @if (skills.skillDetails; as details) {
        <div class="skills_container" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          @for (skill of details; track skill.name) {
            @let dataIndex = ($index + 1).toString().padStart(2, '0');
            <div class="skill_item">
              <img
                [attr.data-testid]="'image-src_' + dataIndex"
                [src]="skill.iconUrl"
                [alt]="skill.name"
                class="skill_icon"
              />
              <span [attr.data-testid]="'name_' + dataIndex" class="skill_text">{{ skill.name }}</span>
            </div>
          }
        </div>
      }
    </div>
  }
</section>
