<header id="header" class="d-flex flex-column justify-content-center">
  <nav id="navbar" class="navbar nav-menu">
    <ul>
      @for (section of sections()?.values(); track $index) {
        <li>
          <button
            [attr.data-testid]="'a_' + section.target"
            (click)="setActive(section)"
            [class.active]="section.isActive"
            class="nav-link"
          >
            <i class="bx" [ngClass]="section.icon"></i>
            <span>{{ section.label }}</span>
          </button>
        </li>
      }
    </ul>
  </nav>
</header>
