<header id="header" class="d-flex flex-column justify-content-center">
  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li>
        <button
          (click)="setActive(sections().hero)"
          [class.active]="sections().hero.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().hero.icon"></i> <span>{{ sections().hero.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().about)"
          [class.active]="sections().about.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().about.icon"></i> <span>{{ sections().about.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().resume)"
          [class.active]="sections().resume.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().resume.icon"></i> <span>{{ sections().resume.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().portfolio)"
          [class.active]="sections().portfolio.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().portfolio.icon"></i>
          <span>{{ sections().portfolio.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().skills)"
          [class.active]="sections().skills.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().skills.icon"></i> <span>{{ sections().skills.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().facts)"
          [class.active]="sections().facts.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().facts.icon"></i> <span>{{ sections().facts.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().services)"
          [class.active]="sections().services.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().services.icon"></i> <span>{{ sections().services.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().testimonials)"
          [class.active]="sections().testimonials.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().testimonials.icon"></i>
          <span>{{ sections().testimonials.label }}</span>
        </button>
      </li>
      <li>
        <button
          (click)="setActive(sections().contact)"
          [class.active]="sections().contact.isActive"
          class="nav-link"
        >
          <i class="bx" [ngClass]="sections().contact.icon"></i> <span>{{ sections().contact.label }}</span>
        </button>
      </li>
    </ul>
  </nav>
</header>
